<div role="dialog" style="background-color: #FFF; width: 150%;" aria-label="Edição" layout="column" layout-align="center center">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ctrl.acao}} de Atividade</h2>
		</div>
	</md-toolbar>

	<div class="demo-dialog-content">
		<form>
			<md-input-container md-no-float class="md-block">
				<label>Título</label>
				<input type="text" ng-model="ctrl.atividade.titulo" value="{{ctrl.atividade.titulo}}" />
			</md-input-container>
			<md-input-container md-no-float class="md-block">
				<label>Descrição</label>
				<input type="text" ng-model="ctrl.atividade.descricao" value="{{ctrl.atividade.descricao}}" />
			</md-input-container>
			<md-input-container md-no-float class="md-block">
				<label>Data:</label>
				<mdp-date-picker mdp-placeholder="Data" ng-model="ctrl.atividade.data" value="{{ctrl.atividade.data}}" />
			</md-input-container>
			<md-input-container md-no-float class="md-block">
				<label>Hora:</label>
				<mdp-time-picker mdp-placeholder="Hora" ng-model="ctrl.atividade.hora" value="{{ctrl.atividade.hora}}" />
			</md-input-container>
			<!--
			<md-input-container md-no-float class="md-block">
				<label>Situação</label>
			</md-input-container>
			-->
		</form>
	</div>

	<div layout="row" class="demo-dialog-button">
		<md-button md-autofocus class="md-raised" ng-click="ctrl.salvar()">
			Salvar
		</md-button>
		<md-button md-autofocus class="md-primary" ng-click="ctrl.closeDialog()">
			Fechar
		</md-button>
	</div>
</div>