<div role="dialog" style="background-color: #FFF; width: 150%;" aria-label="Edição" layout="column" layout-align="center center">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Gerenciamento de E-mail</h2>
		</div>
	</md-toolbar>

	<md-content layout-padding>
		<div class="demo-dialog-content">
			<form>
				<div layout-gt-xs="column">
					<md-input-container md-no-float class="md-block">
						<label>E-mail:</label>
						<input type="text" value="{{ctrl.email.strEmail}}" disabled />
					</md-input-container>

					<md-input-container md-no-float class="md-block">
						<label>Data e Hora:</label>
						<md-datepicker ng-model="ctrl.email.dataHora" value="{{ctrl.email.dataHora}}" />
					</md-input-container>
				</div>
			</form>
		</div>
	</md-content>

	<div layout="row" class="demo-dialog-button">
		<md-button md-autofocus class="md-raised" ng-click="ctrl.enviar()">
			Enviar e-mail
		</md-button>
		<md-button md-autofocus class="md-primary" ng-click="ctrl.closeDialog()">
			Fechar
		</md-button>
	</div>
</div>