<div role="dialog" style="background-color: #FFF; width: 150%;" aria-label="Edição" layout="column" layout-align="center center">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ctrl.acao}} de Atividade</h2>
		</div>
	</md-toolbar>

	<form name="activityForm" novalidate>
		<div class="demo-dialog-content">
			<md-input-container md-no-float class="md-block">
				<label>Título</label>
				<input required type="text" name="titulo" ng-model="ctrl.atividade.titulo" value="{{ctrl.atividade.titulo}}" />
			</md-input-container>
			<md-input-container md-no-float class="md-block">
				<label>Descrição</label>
				<input required type="text" name="descricao" ng-model="ctrl.atividade.descricao" value="{{ctrl.atividade.descricao}}" />
			</md-input-container>
			<md-input-container md-no-float class="md-block">
				<label>Data</label>
				<input required time="false" date="true" name="data" mdc-datetime-picker="" type="text" id="date"
					   ng-model="ctrl.atividade.data" format="DD/MM/YYYY" min-date="minDate" max-date="maxDate" class="md-input"
					   readonly="readonly" value="{{ctrl.atividade.data}}" />
			</md-input-container>
			<md-input-container md-no-float class="md-block">
				<label>Hora</label>
				<input required mdc-datetime-picker="" name="hora" date="false" time="true" type="text" id="time" short-time="true"
					   min-date="minDate" format="hh:mm a" ng-model="ctrl.atividade.hora" class="md-input"
					   readonly="readonly" value="{{ctrl.atividade.hora}}" />
			</md-input-container>
		</div>

		<div layout="row" layout-align="center center" class="demo-dialog-button">
			<md-button md-autofocus class="md-primary" ng-click="ctrl.closeDialog()">
				Fechar
			</md-button>
			<md-button type="submit" md-autofocus class="md-raised" ng-click="ctrl.salvar(activityForm)">
				Salvar
			</md-button>
		</div>
	</form>
</div>